{% load static %}
<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>

    <header>
        <h1><a href="{% url 'homepage' %}">School Task Portal</a></h1>
        <nav>
            <ul>
                <li><a href="{% url 'homepage' %}">Home</a></li>
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
            </ul>
        </nav>
    </header>

    <hr>

    <main>
        <h2>Login</h2>

        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            <fieldset>
                <legend><strong>Login Credentials</strong></legend>

                <div>
                    <label for="username">Username:</label><br>
                    <input type="text" id="username" name="username" placeholder="Enter your username" required>
                </div>
                <br>

                <div>
                    <label for="password">Password:</label><br>
                    <input type="password" id="password" name="password" placeholder="Enter your password" required>
                </div>
            </fieldset>

            <a href="{% url 'password_reset' %}" id="password-reset">Forgot password?</a>

            <div>
                <button type="submit">Log In</button>
            </div>
        </form>

        <br>

        <p><small>Don't have an account yet? <a href="{% url 'signup' %}">Sign up here</a>.</small></p>

        {% if messages %}
            <div id="alert-overlay" style="display: block;">
                <div id="alert-box" style="display: block;">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                    <br />
                    <button type="button" id="btn-close" class="btn-close">Close</button>
                </div>
            </div>
        {% endif %}

    </main>

    <hr>

    <footer>
        <p class="copyrights"><small>&copy; 2026 School Task Portal. All rights reserved.</small></p>
    </footer>

    <script src="{% static 'app.js' %}"></script>

</body>

</html>